<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="data:image/webp;base64,UklGRuQAAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSDUAAAABJyAQIEN66BERwS0YRJLUaAgCkIAEJKTxbwr44CCi/0HXDKD6rVyo+TJf+qfvDO1iA/XqBwBWUDggiAAAAJACAJ0BKhAAEAACQDgllAJ0gTGCHJQ2wHEhd+WAAPz1ecgCne947yCd4TTlU5989vupvKG4sdvew4kfa26NE8jmd0cqTGz73kkjbj7MAFmzzmyGvv+flDGD6IBhgMmoRoXv7tTQxraedgLJez+x/6WHq6i0reYh2HlXZ5aMr7cLfQC1UHyAAAA=" />
	<title>13 Geese Defending Rome</title>
	<link rel="stylesheet" href="style.min.css">
	<style>
		{% for i in range(1,14) %}#l{{i}}:target ~ div iframe.l{{i}} {display: block;}
		{% endfor %}
	</style>
</head>
<body>
	<div id="container">
		{% for i in range(1,14) %}<input type="radio" name="level" id="l{{i}}"/>
		{% endfor %}
	<div>
	
	<div id="topright">
		<span id="homebtn"><a href="#">Home</a></span>
		<input type="checkbox" id="help" />
		<label for="help" class="forhelp">Help</label>
		<details open="true">
			<summary>How to Play</summary>
			The fox and geese alternate turns moving along the paths.
			You play as the geese and will move first after clicking Start.
			<details>
				<summary>Legal Moves</summary>
				<ul>
					<li>Any one goose can move 1 space in any direction to an unoccupied city as long as there is a path between the cities.</li>
					<li>The fox can also move to any unoccupied, connected city or it can jump over one goose to remove that goose from the game.</li>
					<li>A jump must end on an unoccupied city on the same color path.</li>
				</ul>
			</details>
			<details>
				<summary>Winning</summary>
				The goal for the fox is to reach Rome (or kill all but one goose, guaranteeing victory).
				The goal for the geese is to trap the fox so that is has no moves.
			</details>
			<details>
				<summary>Mechanics</summary>
				To move, click a goose and then click the city to move it to. Once you have clicked on a goose you must move it or leave it where it is!
				You only have 60 seconds each turn to make your decision.
				After taking your turn, make the fox's move by clicking the box in the upper left two times (for a regular move) or three times (for a jump).
			
			</details>
			
		</details>
	</div>
	<img id="bg" src="bg.svg" />
	{% for i in range(1,14) %}<iframe src="l{{i}}.xml" class="l{{i}}"  ></iframe>
	{% endfor %}
	<div id="menu">
		<div>
			<div>
				13 Geese Defending Rome
			</div>
			<hr />
			Choose Level:
			<br />
				<span class="le">Easy</span>{% for i in range(1,5) %}<span class="la"><a class="ll" href="#l{{i}}">{{i}}</a><a class="wl2" href="l{{i}}.xml#w">✓</a><a class="wl" href="l{{i}}.xml#w"></a></span>
				{% endfor %}
			<br />
				<span class="lm">Medium</span>{% for i in range(5,10) %}<span class="la"><a class="ll" href="#l{{i}}">{{i}}</a><a class="wl2" href="l{{i}}.xml#w">✓</a><a class="wl" href="l{{i}}.xml#w"></a></span>
				{% endfor %}
				<br />
				<span class="lh">Hard</span>{% for i in range(10,14) %}<span class="la"><a class="ll" href="#l{{i}}">{{i}}</a><a class="wl2" href="l{{i}}.xml#w">✓</a><a class="wl" href="l{{i}}.xml#w"></a></span>
				{% endfor %}
			
			
			<hr />
			<details open="true">
				<summary>How to Play</summary>
				The fox and geese alternate turns moving along the paths.
				You play as the geese and will move first.
				<details>
					<summary>Legal Moves</summary>
					<ul>
						<li>Any one goose can move 1 space in any direction to an unoccupied city as long as there is a path between the cities.</li>
						<li>The fox can also move to any unoccupied, connected city or it can jump over one goose to remove that goose from the game.</li>
						<li>A jump must end on an unoccupied city on the same color path.</li>
					</ul>
				</details>
				<details>
					<summary>Winning</summary>
					The goal for the fox is to reach Rome (or kill all but one goose, guaranteeing victory).
					The goal for the geese is to trap the fox so that is has no moves.
				</details>
				<details>
					<summary>Mechanics</summary>
					To move, click a goose and then click the city to move it to. Once you have clicked on a goose you must move it or leave it where it is!
					You only have 60 seconds each turn to make your decision.
					After taking your turn, make the fox's move by clicking the box in the upper left two times (for a regular move) or three times (for a jump).
				
				</details>
				These instructions can be found in-game by clicking help in the top right.
				
			</details>
		</div>
	
	</div>
	</div>
	</div>
</body>
</html>